<%= @content %>

<div class="press_box2 press_box_ind" style="margin-left: 0px;">
  <h1>
    <% if ru? %>
      <%= link_to 'Новости', '/press/news'%>
    <% else %>
      <%= link_to 'News', '/press/news'%>
    <% end %>
  </h1>

  <h2>
    <%=link_to @news_item.title , {:controller=>'main' ,:action=>'news_item' ,:id=>@news_item.id} if ru?%>
    <%=link_to @news_item.title_en , {:controller=>'main' ,:action=>'news_item' ,:id=>@news_item.id} unless ru?%>
  </h2>
  <span style="font-style: italic;"><%= @news_item.created_at.strftime("%d")+'.'+ @news_item.created_at.strftime("%m")+'.'+ @news_item.created_at.strftime("%Y") + '.'%></span><br/>
  <%= if ru? then @news_item.notice else @news_item.notice_en end %><br/>
  <%=link_to 'читать&nbsp;далее...' , :controller=>'main' ,:action=>'news_item' ,:id=>@news_item.id if ru?%>
  <%=link_to 'read&nbsp;more...' , :controller=>'main' ,:action=>'news_item' ,:id=>@news_item.id unless ru?%>
</div>

<div class="press_box2 press_box_ind">
  <h1>
    <% if ru? %>
     <%= link_to 'Пресс-релизы', '/press/press-releases'%>
    <% else %>
     <%= link_to 'Press releases ', '/press/press-releases'%>
    <% end %>
  </h1>

  <h2>
    <%=link_to @press.title , {:controller=>'main' ,:action=>'press' ,:id=>@press.id} if ru?%>
    <%=link_to @press.title_en , {:controller=>'main' ,:action=>'press' ,:id=>@press.id} unless ru?%>
  </h2>
  <span style="font-style: italic;"><%= @press.created_at.strftime("%d")+'.'+ @press.created_at.strftime("%m")+'.'+ @press.created_at.strftime("%Y") + '.'%> </span><br/>
  <%= if ru? then @press.notice else @press.notice_en end %><br/>
  <%=link_to 'читать&nbsp;далее...' , :controller=>'main' ,:action=>'press' ,:id=>@press.id if ru?%>
  <%=link_to 'read&nbsp;more...' , :controller=>'main' ,:action=>'press' ,:id=>@press.id unless ru?%>
</div>

<div class="press_box2" style="margin-right: 0px;">
  <h1>
    <% if ru? %>
     <%= link_to 'СМИ о нас', '/press/media'%>
    <% else %>
     <%= link_to 'Mass media about us', '/press/media'%>
    <% end %>
  </h1>
  <h2> <%=link_to @smi.title  ,{:controller=>'main' ,:action=>'smi' ,:id=>@smi.id } %>  </h2><br/>
  <span style="font-style: italic;"><%= @smi.created_at.strftime("%d")+'.'+ @smi.created_at.strftime("%m")+'.'+ @smi.created_at.strftime("%Y") + '.'%> <%= @smi.magazin  %></span><br/>
    <%=  @smi.notice %><br/>
    <%=link_to 'читать далее...' , :controller=>'main' ,:action=>'smi' ,:id=>@smi.id  if ru?%>
    <%=link_to 'read more...' , :controller=>'main' ,:action=>'smi' ,:id=>@smi.id  unless ru?%>
</div>

<h1><% if ru? then 'Ключевые клиенты' else 'Our customers' end %></h1>
<table width="100%"  cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td>
				<p>
					&nbsp;</p>
				<p>
					<img src="images/partner_logos.jpg" alt="partners"/></p>
			</td>
		</tr>
	</tbody>
</table>