
<h1><%=@title %>  </h1>

<div class="press_box">
  <span style="float: right;"> <%= @news_item.created_at.strftime("%d")+'.'+ @news_item.created_at.strftime("%m")+'.'+ @news_item.created_at.strftime("%Y")%> </span>
   <span style="float: right; margin-right: 20px;"> <%#= @news_item.magazin  %> </span>


<p>
 <%=  @news_item.content if ru?%>
 <%=  @news_item.content_en unless ru?%>
 </p>


 <p style="display: inline; color: #6f6f6f; vertical-align: bottom; float:left; margin-top: 3px; margin-right: 10px;">Поделиться ссылкой:</p>

<div class="share42init" data-title="<%=j @news_item.title %>" data-image="http://corporate.zhivojoffice.ru/images/logo_rus_share.jpg" data-description="<%=j @news_item.notice %>" data-url="<%=j request.url %>"></div>
<script type="text/javascript" src="http://corporate.zhivojoffice.ru/share42/share42.js"></script>



  </div>
  <div style="clear: both;"></div>
<div style="margin-top: 10px">
<%=link_to 'Все новости' ,'/press/news' if ru?%>
<%=link_to 'All News' ,'/press/news' unless ru?%>
</div>

