
<h1><%=@title %>  </h1>

<div class="tree">
<% @menu.each do |menu| %>

<h3>
  <% if ru? %>
  <a href="/<%=menu.url %>"> <%=menu.title %>  </a>
  <% else %>
  <a href="/<%=menu.url_en %>"> <%=menu.title_en %>  </a>
  <% end %>

</h3>

  <% unless menu.menu_l2.empty? %>

    <ol style="margin-left: 40px;">
    <% @menu_l2 =  menu.menu_l2.sort{|a,b| a.ord <=> b.ord } %>
    <% @menu_l2.each do |menu2| %>


      <% if menu2.vis %>
      <li  style="background-color: <%= cycle('white','#e6e7e8') -%>">

         <h4> 
           <% if ru? %>
           <a href="/<%=menu.url %>/<%=menu2.url %>"> <%=menu2.title %>  </a>
           <% else %>
           <a href="/<%=menu.url_en %>/<%=menu2.url_en %>"> <%=menu2.title_en %>  </a>
           <% end %>
         </h4>

      <% unless menu2.menu_l3.empty? %>

           <span style="cursor: pointer;" onclick="tog('ul<%=menu2.id%>')"> <%= if ru? then  'раскрыть/закрыть' else 'open/close' end %> </span>

        <ul style="margin-left: 30px; display: none" id="ul<%=menu2.id%>">

        <%menu2.menu_l3.each do |menu3|%>
          <% if menu3.vis %>
          <li>  
            <% if ru? %>
            <a href="/<%=menu.url %>/<%=menu2.url %>/<%=menu3.url %>"> <%=menu3.title %>  </a>
            <% else %>
            <a href="/<%=menu.url_en %>/<%=menu2.url_en %>/<%=menu3.url_en %>"> <%=menu3.title_en %>  </a>
            <% end %>

          </li>
          <% end %>
        <% end %>
     
        </ul>
      <% end %>
      </li>
      <% end %>
    <% end %>
      </ol>

  <% end %>

<% end %>
</div>