
<div style="border: 2px solid green; height: 300px; overflow: auto; padding: 10px; width: 880px;">
<% @press = Pressreliz.find :all ,:order=>'created_at desc' %>

 <%= link_to 'Новый прессрелиз', new_pressreliz_path %>

<% @press.each do |pressreliz| %>
<div class="press_box">
  

<h2>  <span style=" color: #808285;"> <%= pressreliz.created_at.strftime("%d")+'.'+ pressreliz.created_at.strftime("%m")+'.'+ pressreliz.created_at.strftime("%Y")%>. </span>
<%= pressreliz.title  %>
</h2>

<p>
 <%=  pressreliz.notice %><br/>
 <%= link_to 'Редактировать', edit_pressreliz_path(pressreliz) %> | <%= link_to 'Посмотреть', pressreliz %> |
<%= link_to 'Х', pressreliz, :confirm => 'Точно?', :method => :delete , :style=>'color: red'%>



 </p>

<div class="clear_line"> </div>
</div>
<% end %>
  <%= link_to 'Новый прессрелиз', new_pressreliz_path %>
</div>