<h1>Просмотр пресс-релиза </h1>

<%= link_to 'Редактировать', edit_pressreliz_path(@pressreliz) %> |
  <%= link_to 'Вернуться к редактированию пресс-релизов', pressrelizs_path %> |
<%= link_to 'Вернуться в главное меню', :controller=>'admin' %>

<h1><%=@title %>  </h1>

<div class="press_box" style="width: 680px;">
  


   <h4> Анонс  </h4>
<p style="padding: 5px; border: 1px solid #808285;">
 <%=  @pressreliz.notice%>
 </p>

<span style="float: right;"> <%= @pressreliz.created_at.strftime("%d")+'.'+ @pressreliz.created_at.strftime("%m")+'.'+ @pressreliz.created_at.strftime("%Y")%> </span>
<h2> <%= @pressreliz.title  %>  </h2>
<p>
 <%=  @pressreliz.content%>
 </p>

<div class="clear_line"> </div>
</div>

<hr/>


<div class="press_box" style="width: 680px;">



   <h4> Анонс  </h4>
<p style="padding: 5px; border: 1px solid #808285;">
 <%=  @pressreliz.notice_en%>
 </p>

<span style="float: right;"> <%= @pressreliz.created_at.strftime("%d")+'.'+ @pressreliz.created_at.strftime("%m")+'.'+ @pressreliz.created_at.strftime("%Y")%> </span>
<h2> <%= @pressreliz.title_en  %>  </h2>
<p>
 <%=  @pressreliz.content_en%>
 </p>

<div class="clear_line"> </div>
</div>


<hr/>

<%= link_to 'Редактировать', edit_pressreliz_path(@pressreliz) %> |
  <%= link_to 'Вернуться к редактированию пресс-релизов', pressrelizs_path %> |
<%= link_to 'Вернуться в главное меню', :controller=>'admin' %>