<h1>Редактирование главной страницы (заголовок первого уровня)</h1>
<br/>
<h2> Контент (заголовок второго уровня)</h2>
 
<% form_for :index , :url=>{:controller => 'admin' ,:action=>'save_index'} do |f|%>

<%#= f.text_area :content , :style=>'width: 900px; height: 500px;' %>
<%= f.cktext_area :content, :toolbar=>'Full',  :width=>'880px', :heigth=>'600px'  %>
<br/>
<h2>Английская версия </h2>
<%= f.cktext_area :content_en, :toolbar=>'Full',  :width=>'880px', :heigth=>'600px'  %>
<%= f.submit 'Сохранить' %>
<% end %>
