<div id="feedback">
<% remote_form_for :feedback , :url=>{:controller=>'main' , :action =>'feedback'} , :update=>'modul' do |f| %>

<%= f.hidden_field :user_id , :value => @user.id if login?   %>
<%= f.label 'Your message:'  %>
<%= f.text_area :message , :value => '' %>
<%= f.label 'Your E-mail:'  %>
<%= f.text_field :mail , :value => ''%>

<%= f.submit 'send' %>

<% end %>
</div>