  <div id="booking_form">
    <p style="color: green;"><%= notice %></p>
    <h2>Подать предварительную заявку на акции</h2><br/>
    <% form_for :booking, :url => { :controller => "main", :action => "ipo_zhivojoffice" } do |f| %>

      <%= f.label 'Имя, Фамилия *' %><br />
      <%= f.text_field :name , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'E-mail *' %><br />
      <%= f.text_field :email , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'Телефон (с кодом) *' %><br />
      <%= f.text_field :phone , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'Количество акций (мин. 10 шт.) *' %><br />
      <%= f.text_field :actions_number , :style=>'width: 250px; margin-bottom: 10px;' %>
      <p style="margin: 0px 0px 10px 0px; line-height: 12px;">Согласен на обработку моих персональных данных <br/>в соответствии с законом РФ №152-ФЗ от 26 июля 2006 г.</p>
      <%= f.submit "", :type => :image, :src => "/images/ipo/booking.png" %>
    <% end %>
  </div>

  <div id="consultation_form">
    <p style="color: green;"><%= notice %></p>
    <h2>Получить консультацию</h2><br/>
    <% form_for :consultation, :url => { :controller => "main", :action => "ipo_zhivojoffice" } do |f| %>

      <%= f.label 'Имя, Фамилия *' %><br />
      <%= f.text_field :name , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'E-mail *' %><br />
      <%= f.text_field :email , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'Телефон (с кодом) *' %><br />
      <%= f.text_field :phone , :style=>'width: 250px; margin-bottom: 10px;' %>
      <p style="margin: 0px 0px 10px 0px; line-height: 12px;">Согласен на обработку моих персональных данных <br/>в соответствии с законом РФ №152-ФЗ от 26 июля 2006 г.</p>
      <%= f.submit "", :type => :image, :src => "/images/ipo/consultation.png" %>
    <% end %>
  </div>
