  <div id="booking_form">
    <p style="color: green;"><%= notice %></p>
    <h2>Submit application for shares</h2><br/>
    <% form_for :booking, :url => { :controller => "main", :action => "ipo_zhivojoffice" } do |f| %>
      <%= f.error_messages %>

      <%= f.label 'First name, last name *' %><br />
      <%= f.text_field :name , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'E-mail *' %><br />
      <%= f.text_field :email , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'Phone number (with prefix) *' %><br />
      <%= f.text_field :phone , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'Quantity of shares (min 10 pc) *' %><br />
      <%= f.text_field :actions_number , :style=>'width: 250px; margin-bottom: 10px;' %>
      <p style="margin: 0px 0px 10px 0px; line-height: 12px;">I agree to process my personal data in accordance with the Russian Federation law No 152-FZ dated<br/> June 26, 2006.</p>
      <%= f.submit "", :type => :image, :src => "/images/ipo/booking_en.jpg" %>
    <% end %>
  </div>

  <div id="consultation_form">
    <p style="color: green;"><%= notice %></p>
    <h2>Get consultation</h2><br/>
    <% form_for :consultation, :url => { :controller => "main", :action => "ipo_zhivojoffice" } do |f| %>
      <%= f.error_messages %>

      <%= f.label 'First name, last name *' %><br />
      <%= f.text_field :name , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'E-mail *' %><br />
      <%= f.text_field :email , :style=>'width: 250px; margin-bottom: 10px;' %>
      <%= f.label 'Phone number (with prefix) *' %><br />
      <%= f.text_field :phone , :style=>'width: 250px; margin-bottom: 10px;' %>
      <p style="margin: 0px 0px 10px 0px; line-height: 12px;">I agree to process my personal data in accordance with the Russian Federation law No 152-FZ dated<br/> June 26, 2006.</p>
      <%= f.submit "", :type => :image, :src => "/images/ipo/consultation_en.jpg" %>
    <% end %>
  </div>
