<% @pg = Photogroup.find :all , :order=>'created_at' %>


<% @pg.each do |pg| %>
  <h2> <%= pg.title%>  </h2>
  <h3> <% pg.notice %> </h3>
 <div class="highslide-gallery">
 <div class="picdiv">
        <% pg.photo.each do |photo| %>
	<a href="<%='/photo/'+ photo.img %> " class="highslide"	onclick="return hs.expand(this, config1)" title="<%= photo.title %>">
     		 <%= image_tag("/photo/"+ photo.prw) %>
	</a>
        <%end%>
 </div>
</div>
<% end %>


