<% @press = Pressreliz.find :all ,:order=>'id desc' %>

<% @press.each do |press| %>
<% if ru? && press.content != '' || !ru? && press.content_en != '' %>
<div class="press_box">
  <span style="float: right; margin-top: 35px;"> <%= press.created_at.strftime("%d")+'.'+ press.created_at.strftime("%m")+'.'+ press.created_at.strftime("%Y")%> </span>
   <span style="float: right; margin-right: 20px;"> <%#= press.magazin  %> </span>
<h2>
<%=link_to press.title , {:controller=>'main' ,:action=>'press' ,:id=>press.id}, :style => "width: 550px" if ru?%>
<%=link_to press.title_en , {:controller=>'main' ,:action=>'press' ,:id=>press.id}, :style => "width: 550px" unless ru?%>
</h2>

<p>
 <%=  press.notice if ru?%>
 <%=  press.notice_en unless ru?%>
 <br/>
  <%=link_to 'читать далее...' , :controller=>'main' ,:action=>'press' ,:id=>press.id if ru?%>
  <%=link_to 'read more...' , :controller=>'main' ,:action=>'press' ,:id=>press.id unless ru?%>

</p>

<div class="clear_line"> </div>
</div>
<% end %>
<% end %>