<% @smi = Smi.find :all ,:order=>'id desc' %>

<% @smi.each do |smi| %>

<% if ru? && smi.content != '' %>
  <div class="press_box">
    <div style="text-align: right; ">
      <!-- noindex -->
        <span>
          <%= link_to smi.magazin, smi.magazin_link, { :rel => 'nofollow', :style => "color: #8FD7A1; text-decoration: none;", :target => "_blank" } %>
        </span>
      <!--/ noindex -->
      <span>
        <%= smi.created_at.strftime("%d")+'.'+ smi.created_at.strftime("%m")+'.'+ smi.created_at.strftime("%Y")%>
      </span>
    </div>
  <h2>
    <%=link_to smi.title, {:controller=>'main' ,:action=>'smi' ,:id=>smi.id } %>
  </h2>
  <div class="smi_nophoto">
    <%= smi.notice %><br/>
    <%=link_to 'читать далее...' , :controller=>'main' ,:action=>'smi' ,:id=>smi.id %>
  </div>
  <div class="clear_line"> </div>
  </div>

  <% elsif smi.content_en != nil %>
    <div class="press_box">
    <div style="text-align: right; ">
      <!-- noindex -->
        <span>
          <%= link_to smi.magazin, smi.magazin_link, { :rel => 'nofollow', :style => "color: #8FD7A1; text-decoration: none;", :target => "_blank" } %>
        </span>
      <!--/ noindex -->
      <span>
        <%= smi.created_at.strftime("%d")+'.'+ smi.created_at.strftime("%m")+'.'+ smi.created_at.strftime("%Y")%>
      </span>
    </div>
  <h2>
    <%=link_to smi.title_en, {:controller=>'main' ,:action=>'smi' ,:id=>smi.id } %>
  </h2>
  <div class="smi_nophoto">
    <%=  smi.notice_en %><br/>
    <%=link_to 'read more...' , :controller=>'main' ,:action=>'smi' ,:id=>smi.id %>
  </div>
  <div class="clear_line"> </div>
  </div>
  <% end %>
<% end %>
