<h1>Listing menu_l3s</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Content</th>
    <th>Vis</th>
    <th>Menu l2</th>
  </tr>

<% @menu_l3s.each do |menu_l3| %>
  <tr>
    <td><%=h menu_l3.title %></td>
    <td><%=h menu_l3.url %></td>
    <td><%=h menu_l3.content %></td>
    <td><%=h menu_l3.vis %></td>
    <td><%=h menu_l3.menu_l2_id %></td>
    <td><%= link_to 'Show', menu_l3 %></td>
    <td><%= link_to 'Edit', edit_menu_l3_path(menu_l3) %></td>
    <td><%= link_to 'Destroy', menu_l3, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New menu_l3', new_menu_l3_path %>