<h1>Добавление меню в: <br /> <%=@upmenu.title %> / <%=@upmenu2.title %> / <%=@menu_l3.title %> </h1>

<div class="edit_menu">

<% form_for(@menu_l3) do |f| %>

  <%= f.error_messages %>

    <p style="color: red;">
    <%= f.label 'меню включено'  %>
    <%= f.check_box :vis %>
  </p>

  <p>
    <%= f.label 'заголовок (название)' %> <br />
    <%= f.text_field :title  %>
  </p>
  <p>
    <%= f.label 'наименование для адресной строки' %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label 'контент' %><br />
    <%= f.cktext_area :content, :toolbar=>'Full',  :width=>'880px', :heigth=>'600px'  %>
  </p>
  <p>
    <%= f.label 'EN заголовок (название)' %> <br />
    <%= f.text_field :title_en  %>
  </p>
  <p>
    <%= f.label 'EN наименование для адресной строки' %><br />
    <%= f.text_field :url_en %>
  </p>
  <p>
    <%= f.label 'EN контент' %><br />
    <%= f.cktext_area :content_en, :toolbar=>'Full',  :width=>'880px', :heigth=>'600px'  %>
  </p>

  <p>

    <%= f.label 'привязать к другому меню второго уровня' %> <br />
    <%= f.collection_select(:menu_l2_id, MenuL2.all, :id, :title) %><br />
  </p>

 <p>
    <%= f.label 'подключаемый модуль' %><br />
    <%= f.text_field :modul %>
  </p>
 <p>
    <%= f.label 'EN подключаемый модуль' %><br />
    <%= f.text_field :modul_en %>
  </p>


<br />
  <p>
    <%= f.submit 'Сохранить' %>
  </p>



<% end %>

<br/>
<%= link_to 'Вернуться', :controller=>'admin' , :action=>'index' %>

</div>