<div class="footer">
  <div class="footer_text">
  <span>
    Живой офис   &copy;  1996 - 2013
  </span>
  <span>
    Бумага, канцтовары в офис  с доставкой по Санкт-Петербургу, Москве и Смоленску.
  </span>
  </div>
    <span>
      <a class="vk" target="_blank" href="http://vk.com/zhivoj_office"></a>
      <a class="fb" target="_blank" href="http://www.facebook.com/zhivojoffice"></a>
      <a class="tw" target="_blank" href="https://twitter.com/Zhivoj_Office"></a>
      <a class="bs" target="_blank" href="http://zhivojoffice.blogspot.ru/"></a>
    </span>
</div>
