  <div class="top">
    <span class="support">
      <script type="text/javascript" >
user = "support1";
site = "zhivojoffice.ru";
document.write('<a style="text-decoration:none;" href="mailto:' + user + '@' + site + '">');
document.write('служба поддержки сайта' + '</a>');

</script> 
  </span>


    <div class="rassilka" style="color: red; font-size: 24px;">
Администрирование сайта
    </div>


    <a href="/" style="position: absolute; top: 0px; left: 0px;">
    <img src="/images/logo.jpg" alt="Главная" />
    </a>
    <span style="position: absolute; top: 48px; left: 187px; font-weight: bold; font-size: 18px;"> +7 (812) 324-80-50  </span>


  </div>