  <div class="top">
    <% if login? and @user.role == 'redaktor' %>
      <%= link_to 'Администраторская' , '/admin' ,  :style=>'position: absolute; color: red; font-weight: bold; top: 0;'%>
    <% end %>
    <span class="support">
      <script type="text/javascript" >
user = "support1";
site = "zhivojoffice.ru";
document.write('<a style="text-decoration:none;" href="mailto:' + user + '@' + site + '">');
document.write('<%= if ru? then  "служба поддержки сайта" else "support" end%>' + '</a>');

</script> 
  </span>

    <%= link_to '' , '/'  , :class=>'top_home' %>
    <%= link_to '' , {:controller=>'main' , :action=>'sitetree' } , :class=>'top_struct' %>
    <%= link_to '' , '/contacts/feedback'  , :class=>'top_feed' %>
    
    <% if ru? %>
      <div class="rassilka" id="subs">
      <% remote_form_for :mail , :url=>{:controller=>'subs' , :action=>'subs_mail'} , :update=>'subs' do |f| %>
        <%= f.text_field :mail %>
        <%= f.submit '' %>
      <% end %>
        <span style="font-size: 11px;">введите e-mail, чтобы подписаться на новости</span>
      </div>
    <% else %>
      <div class="rassilka_en" id="subs">
      <% remote_form_for :mail , :url=>{:controller=>'subs' , :action=>'subs_mail'} , :update=>'subs' do |f| %>
        <%= f.text_field :mail %>
        <%= f.submit '' %>
      <% end %>
        <span style="font-size: 11px;">enter E-mail to subscribe</span>
      </div>
    <% end %>


    <a href="/"  class="toplogo">
    <% if ru? %>
       <img src="/images/logo_rus.png" alt="Главная" />
    <% else %>
      <img src="/images/logo_eng.png" alt="Главная" />
    <% end %>
    </a>
    <span class="topphone"> +7 (812) 324-80-50  </span>

     <% if flash[:notice] -%>
  <div id="notice" style="position:absolute; top: -35px; left: 10px; padding: 5px; background-color: #00ae4d; display: inline;">
    <h3 style="color: white;"> <%= flash[:notice] -%> </h3>
  </div>
<% end -%>

    <% if login? %>
    <div style="position: absolute; top: -38px; right: 0px; color: #8FD7A1;">
       <% if ru? %>
       Здравствуйте, <%= @user.fname %> | <%= link_to 'выйти' , :controller => 'login' , :action=>'logout' %>
       <% else %>
       Hi, <%=@user.fname %> | <%= link_to 'exit' , :controller => 'login' , :action=>'logout' %>
       <% end %>
    </div>
    <% end %>

    <div class="en_ru">
      <% if session[:lang] == nil or session[:lang] == 'ru' %>
     <%= link_to 'EN', :controller=>'main' , :action=>'chng_lang' , :lang=>'en' %>
      <% else %>
    <%= link_to 'RU', :controller=>'main' , :action=>'chng_lang' , :lang=>'ru' %>
      <% end %>
    </div>


  </div>