<h1 style="font-size: 14px; font-weight: bold; margin-bottom: 20px;"><%= "Уважаемый #{@name}!" %></h1><br/>

<p>Вы отправили запрос на получение консультации по маркетинговой программе ОАО «Живой офис» для акционеров и инвесторов.<br/>
Наши специалисты свяжутся с вами в ближайшее время.</p><br/>

<p style="font-weight:bold;">Контактная информация:</p>
<p>
Ирина Зенкова,<br/>
Консультант по работе с ключевыми клиентами<br/>
<%= link_to "izenkova@spens.ru", "mailto:izenkova@spens.ru" %><br/>
Тел: +7 (812) 324-80-50 (доб. 1211)
</p>