Здравствуйте <%= @user.fname  %>  , <br/>
Спасибо за то, что зарегистрировались на сайте  компании Живой офис <br/>
corporate.zhivojoffice.ru.
<br/><br/>

При регистрации Вы сообщили следующие данные: <br/>
<br/>
E-mail(Логин):<%= @user.mail %> <br/>
Пароль:<%= @pass%> <br/>
Фамилия:<%=@user.sname%> <br/>
Имя:<%= @user.fname %> <br/>
Отчество:<%= @user.pname %> <br/>
Телефон:<%=@user.phone%> <br/>
Название организации:<%=@user.company%> <br/>
<br/>
<br/>
<br/>


<br/>
Желаем Вам приятного дня <br/>
<br/>
<br/>
Искренне Ваш, <br/>

corporate.zhivojoffice.ru <br/>


(http://corporate.zhivojoffice.ru).

<br/>
Внимание: Это письмо было автоматически отправлено с сайта «Живой офис». Не отвечайте на это письмо – мы не получим ваш ответ.

