
<script>
    function f() {
        var login = document.getElementById('user_mail')
        login.value = login.value.replace(/\s/g, '')
    }
</script>
 


<style type="text/css">
  #errorExplanation
  {
    padding:15px;
    background-color:#dcdcdc;
    color: red;
  }

  .errorExplanation h2
  {
    visibility:hidden;
    display:none;
  }
  .errorExplanation p
  {
    visibility:hidden;
    display:none;
  }
</style>

<p style="color: #808285; font-weight: bold; position:relative; top: -15px;">
  Регистрация
</p>

<div class="add_user_title">
   Для регистрации на сайте заполните следующую форму:
</div>
<div class="add_user">

  <p class="red"> Поля в красной рамке обязательны к заполнению.</p>

  <%=error_messages_for 'user'%>

    <% form_for :user do |form| %>
      <%= form.hidden_field :role, :value=>'user' %>
      <table border="0" cellspacing="0" cellpadding="0">
        <tr class="odd">
          <td><label for="user_mail">Введите ваш E-mail, в дальнейшем он будет использоваться для идентификации Вас в качестве клиента (логин):</label></td>
          <td style="width: 400px;"> <%= form.text_field :mail,:class=>'it' , :onblur=>'f()' %></td>
        </tr>
        <tr>
          <td><label for="user_password">Придумайте и введите пароль,<br />рекомендуется не менее пяти символов:</label></td>
          <td> <%= form.password_field :password  %></td>
        </tr>
        <tr class="odd">
          <td><label for="user_password_confirmation">Введите пароль еще раз:</label></td>
          <td>  <%= form.password_field :password_confirmation  %></td>
        </tr>
        <tr>
          <td><label for="user_sname">Ваша фамилия:</label></td>
          <td> <%= form.text_field :sname  %></td>
        </tr>
        <tr class="odd">
          <td><label for="user_fname">Ваше имя:</label></td>
          <td><%= form.text_field :fname  %></td>
        </tr>
        <tr>
          <td><label for="user_pname">Ваше отчество:</label></td>
          <td> <%= form.text_field :pname,:class=>'input_n'%></td>
        </tr>
         <tr class="odd">
          <td><label for="user_phone">Телефон:</label></td>
          <td>
              <%= form.text_field :phone  %>
            </td>
        </tr>

        <tr>
          <td>
         
         <label for="company">Введите название Вашей организации</label>
          </td>
          <td>  <%= form.text_field :company  %></td>
        </tr>

        <tr  class="odd">
          <td colspan="2" height="30px;">
            <p style=" float: left;">
            <label for="user_spam" >Я согласна(согласен) получать от <a href="http://www.zhivojoffice.ru">www.zhivojoffice.ru</a>  информацию.</label>
            </p>
            <p style="float: right;">
<%= form.check_box :spam,:checked=>'checked' %>
            </p>

          </td>
        </tr>
      </table>
      <br/>
      <p style="text-align: right;">
         <%= submit_tag "Зарегистрироваться", :class => "submit" %>
      </p>
    
    <%end%>
     
</div>

<p style="color: #808285;" >
   Личные сведения, полученные в распоряжение <a href="http://www.zhivojoffice.ru">www.zhivojoffice.ru</a>
   при регистрации или каким-либо иным образом, не будут без разрешения пользователей передаваться третьим организациям и лицам,
   за исключением ситуаций, когда этого требует закон или судебное решение.
      </p>




