<h1>Список адресов для рассылки:</h1>

<%= link_to 'Создать рассылку', new_spam_path %> | <%= link_to 'Назад к списку рассылок', spams_path %>
<table class="table_spam">
<% @subscriptions.each do |sub| %>
  <tr>
    <td><%=h sub.mail %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать рассылку', new_spam_path if @subscriptions.size > 15%>