<h1>Редактирование фотографии</h1>

<% form_for(:photo , :url=>{:controller=>'photos', :action=>'update_photo' , :id=>@photo.id },:html=>{:multipart => true} ) do |f| %>

<%# form_for(@photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Файл превью' %><br />
    <%=image_tag("/photo/#{@photo.prw}") %> <br/>
    <%= f.file_field :prw , :value =>@photo.prw%>
  </p>
  <p>
    <%= f.label 'Фотография' %><br />
    <%=image_tag("/photo/#{@photo.img}") %> <br/>
    <%= f.file_field :img , :value =>@photo.img%>
  </p>
  <p>
    <%= f.label 'Заголовок' %><br />
    <%= f.text_field :title , :size=>'60'%>
  </p>
  <br/>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>

<%= link_to 'Все фото', photos_path %> |

<%= link_to 'Посмотреть', @photo %>
