<h1><%= @page_title %></h1>




<%= link_to 'Добавить фото', new_photo_path %> | <%= link_to 'Вернуться', :action=>'index' %>

<table cellpadding="20" cellspacing="10" border="0" >
  <tr>
    <th>Превью</th>
    <th>Фотография</th>
    <th>Заголовок</th>
  </tr>

<% @photos.each do |photo| %>
  <tr style="border-bottom: 1px solid #00ae4d;">
    <td> 
  <%=image_tag("/photo/#{photo.prw}" , :style=>'width: 70px;') %><br/>
  <b>Превью: <%= photo.prw%>  </b>
    </td>
    <td>  
  <%=image_tag("/photo/#{photo.img}" , :style=>'width: 70px;') %> <br/>
  <b>Фотография: <%= photo.img%></b>
    </td>
    <td><%=h photo.title %></td>
    <td><%= link_to 'Посмотореть', photo %></td>
    <td><%= link_to 'Редактировать', edit_photo_path(photo) %></td>
    <td><%= link_to 'Х', photo, :confirm => 'Точно?', :method => :delete , :style=>'color: red;' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить фото', {:action => 'new' , :id => params[:id]} %> |
<%= link_to 'Вернуться', :action=>'index' %>