<h1><%= @page_title %> </h1>




<%= button_to 'Добавить группу', {:action=> 'new_group' } %>
<br/> <br/>
<table cellpadding="0" cellspacing="0" border="0" class="pg_tab" >
  <tr style="background-color: #B50000; color: white; padding: 5px;">
    <th>Группа</th>
    <th>Описание</th>
    <th>Группа En</th>
    <th>Описание En</th>
    <th>Фото</th>
    <th>Фотографий</th>
    <th colspan="3">Редактировать</th>
  </tr>

<% @photos_groups.each do |group| %>
  <tr style="border-bottom: 1px solid #00ae4d; background-color: <%= cycle('#eeeeee','white')  %>; padding: 5px;">
    <td> <b>  <%=group.title %>  </b> </td>
    <td> <b>  <%=group.notice %>  </b> </td>
    <td> <b>  <%=group.title_en %>  </b> </td>
    <td> <b>  <%=group.notice_en %>  </b> </td>
    <td>
  <%=image_tag("/photo/#{group.photo[0].prw}" , :style=>'width: 70px;') if group.photo[0]%>

    </td>
    <td>  
      <b> <%=group.photo.size %> </b>
    </td>
    <td><%= link_to 'Редактировать фото', :action=>'index2' , :id=>group %></td>
    <td><%= link_to 'Редактировать группу', :action=>'edit_group' , :id=>group %></td>
    <td><%= link_to 'Х', {:action=>'del_group' , :id=>group}, :confirm => 'Точно?', :method => :delete , :style=>'color: red;' %></td>
  </tr>
<% end %>
</table>

<br />
