<p>
  <b>Превью: <%= @photo.prw%>  </b> <br/>
  <%=image_tag("/photo/#{@photo.prw}") %>
</p>

<p>
  <b>Фотография: <%= @photo.img%></b> <br/>
  <%=image_tag("/photo/#{@photo.img}") %>
</p>

<p>
  <b>Заголовок:</b>
  <%=h @photo.title %>
</p>


<%= link_to 'Редактировать', edit_photo_path(@photo) %> |
<%= link_to 'Вернуться', photos_path %>