<h1>Редактирование меню: <br /> <%=@menu_l1.title %> </h1>

<div class="edit_menu">
<% form_for(@menu_l1) do |f| %>

  <%= f.error_messages %>

    <p style="color: red;">
    <%= f.label 'меню включено'  %>
    <%= f.check_box :vis %>
  </p>

  <p style="color: red;">
    <%= f.label 'порядок'  %>
    <%= f.text_field :order %>
  </p>

  <p>
    <%= f.label 'заголовок (название)' %> <br />
    <%= f.text_field :title  %>
  </p>
  <p>
    <%= f.label 'наименование для адресной строки' %><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label 'английский заголовок (название)' %> <br />
    <%= f.text_field :title_en  %>
  </p>
  <p>
    <%= f.label 'английское наименование для адресной строки' %><br />
    <%= f.text_field :url_en %>
  </p>
 <!-- <p>
    <%#= f.label 'контент' %><br />
    <%#= f.text_area :content %>
  </p>
-->

  <p>
    <%= f.submit 'Сохранить' %>
  </p>


<% end %>
<br/>
<%= link_to 'Вернуться', :controller=>'admin' , :action=>'index' %>
</div>