<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>    <%= @page_title %> </title>
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="Корпоративный сайт группы компаний «Живой офис»" />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
   <%= stylesheet_link_tag 'main' %>
   <%= stylesheet_link_tag 'dropdown' %>
   <%= javascript_include_tag :defaults  %>
   <%#= javascript_include_tag 'dropdown'  %>
   <%#= javascript_include_tag 'jquery-1.3.2.min'  %>



  </head>
<body>
<div class="carrier" >
<%= render :partial => '/part/top' %>

<%= render :partial => '/part/main_menu' %>
<%= render :partial => '/part/left_menu' if params[:str]%>



<div class="index_content" onclick="hide_id('search_box')">

<%= yield %>

</div>
<div class="clear"></div>

<%= render :partial => '/part/footer' %>
</div>

  <!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter17878867 = new Ya.Metrika({id:17878867, enableAll: true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/17878867" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


</body>
</html>
